:root {
  --max-input-width: 1000px;
}
@media screen and (min-width: 750px) {
  :root {
    --max-input-width: 1000px;
  }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}
.bottom-wmargin {
   margin-bottom: 50px;
}
body {
  max-width: var( --max-input-width );
  margin: 20px;
  margin-left: 2px;
  font-family: Helvetica,sans-serif;
}
